body {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: rgb(250, 240, 230);
  background-image: url("./images/background-img.jpg");
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom:0px;
}

img {
  width: 600px;
  border-radius: 20px;
  border: solid rgb(192, 165, 140);
}

/* -------------------------------------------------- GRID CONTAINERS -------------------------------------------------- */

.grid-container {
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
  padding: 10px;
}

.grid-container-head {
  display: grid;
  grid-template-columns: 2fr 10fr 2fr 2fr;
  padding: 10px;
}

/* ---------------------------------------------------- GRID ITEMS ---------------------------------------------------- */

.grid-container-head > .grid-items {
  background-color: rgb(217, 185, 155);
  padding: 20px;
  margin-bottom: 0px;
  text-align: center;
}

.grid-container > .grid-items {
  background-color: rgb(217, 185, 155);
  padding: 20px;
  margin-bottom: 0px;
  text-align: left;
}
.grid-container > .second-item {
  background-color: rgb(238, 217, 196);
}

/* ---------------------------------------------------- BORDERS ---------------------------------------------------- */

.borders-left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  
}

.borders-right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* ---------------------------------------------------- LINES ---------------------------------------------------- */

li {
  padding-bottom: 7px;
}

 